<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About CoinConvert</h5>
          <p>CoinConvert is a simple and efficient currency converter application that allows you to convert currencies with ease.</p>
            <p>
                This project is built for practicing angular, the currency is converted using basic free api from https://www.exchangerate-api.com/docs/free ,it will update once a day. 
            </p>
        </div>
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Convert Currency</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Info</h5>
          <ul class="contact-info">
            <li>Email: infoattheratecoinconvert.com</li>
            <li>Phone: +1234567890</li>
            <li>Address: 123 Main St, City, Country</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2024 CoinConvert. All rights reserved.</p>
      </div>
    </div>
  </footer>
  