<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://img.icons8.com/?size=100&id=Y2UM9OQtZ0Wn&format=png&color=000000" alt="" height="80px">
      <a class="navbar-brand" href="#">CoinConvert</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul>
            
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Send Money</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Currency History</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  